@use "../../breakpoints.scss" as breakpoints;

@mixin headline() {
  margin: 0;
  font-family: poppins, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
}

@mixin headline-large() {
  font-size: 15em;
  letter-spacing: -.02em;
  line-height: .8;

  @media (max-width: breakpoints.$desktop) { font-size: 10em; }

  @media (max-width: breakpoints.$tablet) { font-size: 7em; }

  @media (max-width: breakpoints.$mobile) { font-size: 6em; }
}

@mixin headline-medium() {
  font-size: 80px;
  letter-spacing: .02em;
  line-height: 1;

  @media (max-width: breakpoints.$tablet) { font-size: 40px; }
}

@mixin headline-small() {
  font-size: 20px;
  letter-spacing: .04em;
  line-height: 1;
}

@mixin headline-accent() {
  font-size: .2em;
  letter-spacing: -.04em;

  @media (max-width: breakpoints.$tablet) { font-size: .3em; }
}
