@use "../../breakpoints.scss" as breakpoints;

@mixin page-content() {
  max-width: var(--max-content-width);

  @media (max-width: breakpoints.$desktop) { max-width: calc(100% - 2 * 50px); }

  @media (max-width: breakpoints.$tablet) { max-width: calc(100% - 2 * 40px); }

  @media (max-width: breakpoints.$mobile) { max-width: calc(100% - 2 * 20px); }
}
