@use "../../breakpoints.scss" as breakpoints;

@mixin text() {
  font-family: freight-sans-pro, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin text-small() {
  font-size: 14px;
  line-height: 1.5;

  @media (max-width: breakpoints.$desktop) {
    font-size: 12px;
  }
}

@mixin text-link() {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 1.5;

  @media (max-width: breakpoints.$desktop) {
    font-size: 12px;
  }
}

@mixin text-button() {
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 1;
}
