@use "../../breakpoints.scss" as breakpoints;

@mixin text() {
  margin: 0;
  font-family: poppins, Arial, sans-serif;
  font-style: normal;
}

@mixin text-large() {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: .02em;
  line-height: 1.3;

  @media (max-width: breakpoints.$mid-desktop) { font-weight: 300; }
}

@mixin text-medium() {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: .02em;
  line-height: 1.3;

  @media (max-width: breakpoints.$mid-desktop) { font-weight: 300; }
}

@mixin text-small() {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5;

  @media (max-width: breakpoints.$mid-desktop) { font-weight: 300; }
}

@mixin text-button() {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 1.5;
  text-transform: uppercase;

  @media (max-width: breakpoints.$tablet) { font-size: 16px; }
}
