.root {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 6px;
  height: 6px;
  padding: 0;
  border: 1px solid var(--color-light-primary);
  margin: 0 8px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease;

  @media (min-width: 1001px) {
    &:hover {
      background-color: var(--color-light-primary);
      transform: scale(1.35);
    }
  }
}

.dot.active {
  background-color: var(--color-light-primary);
  transform: scale(1.35);
}
