@use "../../../shared/breakpoints.scss" as breakpoints;

.root {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 6px;
  height: 6px;
  padding: 0;
  border: 1px solid var(--color-light-primary);
  margin: 0 8px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--common-transition);

  @media (min-width: breakpoints.$desktop) {
    &:hover {
      background-color: var(--color-light-primary);
      transform: scale(1.35);
    }
  }
}

.dot.active {
  background-color: var(--color-light-primary);
  transform: scale(1.35);
}
