@use "../../../shared/styles/mixins/max-width.scss" as max-width;
@use "../../../shared/breakpoints.scss" as breakpoints;

.root {
  @include max-width.page-content;

  display: grid;
  padding: 200px 0;
  margin: 0 auto;
  background-color: var(--color-light-default);
  gap: 80px;

  @media (max-width: breakpoints.$tablet) {
    padding: 60px 0 80px;
  }

  @media (max-width: breakpoints.$mobile) {
    gap: 80px;
  }
}
