@use "../../shared/breakpoints.scss" as breakpoints;

.root {
  display: grid;
  width: 100%;
  padding-bottom: 80px;
  background-color: var(--color-light-default);

  @media (min-width: breakpoints.$tablet-portrait) {
    max-width: calc(100% - 96px);
    margin: 0 auto;
  }

  @media (min-width: breakpoints.$desktop) {
    max-width: 1170px;
    padding-bottom: 100px;
  }

  @media (min-width: breakpoints.$large-desktop) { max-width: 1280px; }
}
