@use "../../shared/breakpoints.scss" as breakpoints;

.imageWrapper {
  position: relative;
  overflow: hidden;
  width: 25%;
  padding-bottom: 25%;

  /* TODO: some fancy transition? */

  @media (max-width: breakpoints.$desktop) {
    width: 50%;
    padding-bottom: 50%;
  }

  @media (max-width: breakpoints.$mobile) {
    width: 100%;
    padding-bottom: 100%;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
