@use "../../shared/breakpoints.scss" as breakpoints;
@use "../../shared/styles/mixins/headline.scss" as headline;
@use "../../shared/styles/mixins/text.scss" as text;

.root {
  display: flex;
  flex-direction: column;
  padding: 80px 20px 50px;
  gap: 80px;

  @media (min-width: breakpoints.$tablet-portrait) { padding: 140px 30px 50px 40px; }

  @media (min-width: breakpoints.$tablet-landscape) {
    height: 100%;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 60px;
    gap: 20vw;
  }
}

.navList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 15px;
  list-style: none;

  @media (min-width: breakpoints.$tablet-landscape) { gap: 0; }
}

.navListItem {
  display: flex;
  align-items: center;
}

.navLink {
  @include headline.headline;
  @include headline.headline-large;

  position: relative;
  color: var(--color-accent);
  line-height: 1;
  text-decoration: none;
  text-shadow: var(--color-text-shadow);
  -webkit-text-stroke: 1px var(--color-light-primary);

  @media (min-width: breakpoints.$tablet-portrait) { -webkit-text-stroke: 1.5px var(--color-light-primary); }

  @media (min-width: breakpoints.$tablet-landscape) { -webkit-text-stroke: 2px var(--color-light-primary); }

  @media (min-width: breakpoints.$large-desktop) { -webkit-text-stroke: 2.5px var(--color-light-primary); }

  &.isActive {
    color: var(--color-light-primary);
    cursor: default;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    color: var(--color-light-primary);
    content: attr(data-text);
    transition: .8s;
    white-space: nowrap;
  }

  @media (min-width: breakpoints.$desktop) {
    &:hover::before { width: 100%; }
  }
}

.footnote {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footnoteHeading {
  @include text.text;
  @include text.text-medium;

  margin-bottom: 9px;
  color: var(--color-light-primary);
}

.footnoteLinks {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footnoteLink {
  @include headline.headline;
  @include headline.headline-small;

  display: inline-block;
  padding: 7px 0;
  color: var(--color-light-primary);
  letter-spacing: 1.2px;
  text-decoration: none;
  text-shadow: var(--color-text-shadow);
  transition: var(--common-transition);

  @media (min-width: breakpoints.$desktop) { &:hover { opacity: .7; } }
}
