@use "../../../shared/breakpoints.scss" as breakpoints;

.root {
  position: absolute;
  top: 50%;
  display: flex;
  padding: 0;
  border: 0;
  background-color: unset;
  color: var(--color-light-primary);
  cursor: pointer;
  transform: translateY(-50%);
  transition: var(--common-transition);

  &:hover {
    opacity: .7;
  }

  @media (max-width: breakpoints.$mobile) { display: none; }
}

.icon {
  font-size: 26px;
}
