@use "../../shared/breakpoints.scss" as breakpoints;
@use "../../shared/styles/mixins/headline.scss" as headline;
@use "../../shared/styles/mixins/text.scss" as text;

.root {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;

  @media (max-width: breakpoints.$tablet) {
    grid-template-columns: unset;
    grid-template-rows: max-content 1fr;
  }
}

.imageColumn {
  position: relative;
  width: 100%;
}

.imageWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @media (max-width: breakpoints.$tablet) {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
    height: 0;
    padding-bottom: 100%;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (max-width: breakpoints.$tablet) {
    position: absolute;
  }
}

.imageColumnContent {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 90px;
  margin-left: auto;
  color: var(--color-light-default);
  gap: 20px;

  @media (max-width: 1440px) { gap: 15px; }

  @media (max-width: breakpoints.$desktop) { padding: 60px; }

  @media (max-width: breakpoints.$tablet) {
    position: absolute;
    top: 0;
    right: 0;
    gap: 0;
  }

  @media (max-width: breakpoints.$mobile) { padding: 20px; }
}

.tag {
  @include headline.headline;
  @include headline.headline-xl;

  position: relative;
  right: -104px;

  @media (max-width: breakpoints.$desktop) { right: -74px; }

  @media (max-width: breakpoints.$tablet) { right: -66px; }

  @media (max-width: breakpoints.$mobile) { right: -24px; }
}

.contentColumn {
  display: flex;
  min-height: 585px;
  flex-direction: column;
  justify-content: space-around;
  padding: 110px 90px;
  background: var(--color-light-default);

  @media (max-width: breakpoints.$desktop) { padding: 90px 60px; }

  @media (max-width: breakpoints.$mid-desktop) {
    min-height: 380px;
    justify-content: flex-end;
    padding: 60px;
  }

  @media (max-width: breakpoints.$tablet) {
    display: unset;
    min-height: unset;
    padding: 30px 15px 60px;
  }
}

.title {
  @include headline.headline;
  @include headline.headline-medium;

  max-width: 400px;
  color: var(--color-dark-primary);

  @media (max-width: breakpoints.$tablet) {
    display: inline;
  }
}

.titleAccent {
  margin-right: 12px;
  color: var(--color-accent);

  @media (max-width: breakpoints.$tablet) { display: none; }
}

.subtitle {
  @include headline.headline;
  @include headline.headline-medium;

  max-width: 400px;
  margin: 70px 0 0;
  color: var(--color-dark-primary-33);

  @media (max-width: breakpoints.$desktop) {
    margin: 25px 0 0;
  }

  @media (max-width: breakpoints.$mid-desktop) {
    max-width: unset;
    line-height: 1.2;
  }

  @media (max-width: breakpoints.$tablet) {
    max-width: unset;
    margin: 10px 0 0;
    text-align: justify;
  }
}
