@use "../../shared/breakpoints.scss" as breakpoints;
@use "../../shared/styles/mixins/max-width.scss" as max-width;
@use "../../shared/styles/mixins/headline.scss" as headline;
@use "../../shared/styles/mixins/animations.scss" as animations;

.content {
  @include max-width.page-content;

  padding: 0 50px;
  margin: 0 auto;

  @media (max-width: breakpoints.$tablet) {
    padding: 0 20px;
  }
}

.title {
  @include headline.headline;

  position: relative;
  padding-right: 10px;
  margin: 0;
  color: var(--color-light-primary);
  font-size: 8rem;
  line-height: 1;
  text-shadow: .03em .03em var(--color-accent);

  @media (max-height: breakpoints.$mobile) {
    font-size: 4rem;
  }

  &::after {
    @include animations.text-shadow;

    position: absolute;
    z-index: -1;
    top: .06em;
    left: .06em;
    background-clip: text;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        var(--color-light-default) 45%,
        var(--color-light-default) 55%,
        transparent 0
      );
    background-size: .05em .05em;
    content: "Hey, let\'s talk";
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }
}
