@use "../../shared/breakpoints.scss" as breakpoints;

.content {
  display: flex;

  @media (max-width: breakpoints.$mid-desktop) { flex-direction: column; }
}

.formWrapper {
  width: 50%;

  @media (max-width: breakpoints.$mid-desktop) { width: 100%; }
}

.generalInfoWrapper {
  display: flex;
  width: 50%;
  max-width: 585px;
  align-items: center;
  padding: 90px;
  background-color: var(--color-accent);

  @media (max-width: breakpoints.$mid-desktop) {
    width: 100%;
    max-width: unset;
    padding: 100px 90px;
  }

  @media (max-width: breakpoints.$mobile) { padding: 60px 40px; }
}
