@use "../../shared/breakpoints.scss" as breakpoints;
@use "../../shared/styles/mixins/headline.scss" as headline;
@use "../../shared/styles/mixins/text.scss" as text;

.content {
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoints.$mid-desktop) { flex-direction: row; }
}

.primaryContent {
  width: 100%;

  @media (min-width: breakpoints.$mid-desktop) {
    width: 50%;
    min-height: 500px;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  padding: 0 15px 40px;
  margin: 0 auto;

  @media (min-width: breakpoints.$tablet) {
    max-width: 750px;
    padding: 110px 15px 100px;
  }

  @media (min-width: breakpoints.$mid-desktop) {
    max-width: 585px;
    padding: 110px 15px 100px 40px;
    margin: 0 0 0 auto;
  }

  @media (min-width: 2560px) { padding: 110px 15px 100px; }
}

.tabList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 30px;
  gap: 30px;
  list-style: none;

  @media (min-width: breakpoints.$mobile) {
    flex-direction: row;
    margin-bottom: 40px;
  }

  @media (min-width: breakpoints.$mid-desktop) {
    margin-bottom: 50px;
    gap: 25px;
  }
}

.tab {
  @include headline.headline;
  @include headline.headline-small;

  color: var(--color-dark-primary-33);
  cursor: pointer;
  outline: none;
  transition: color .5s, border-bottom .3s ease;
}

.selected {
  border-bottom: 3px solid var(--color-accent);
  color: var(--color-dark-primary);
}

.tabPanelParagraph {
  @include text.text;
  @include text.text-medium;

  padding: 0;
  margin: 0 0 10px;
  color: var(--color-dark-primary);

  @media (min-width: breakpoints.$tablet) { margin: 0 0 18px; }

  @media (min-width: breakpoints.$mid-desktop) { max-width: 388px; }
}

.accentBox {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 40px;
  background-color: var(--color-accent);

  @media (min-width: breakpoints.$mobile) {
    padding: 90px 120px;
  }

  @media (min-width: breakpoints.$mid-desktop) {
    width: 50%;
    max-width: 585px;
    padding: 90px;
  }
}
