@use "../../../shared/breakpoints.scss" as breakpoints;
@use "../../../shared/styles/mixins/headline.scss" as headline;

.root {
  padding: 15px;
}

.arrowIcon {
  align-self: flex-end;
  color: var(--color-dark-primary);
  font-size: 22px;
  transition: var(--common-transition);

  &.isExpanded {
    color: var(--color-accent);
  }
}

.header {
  @include headline.headline;
  @include headline.headline-small;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-dark-primary);
  text-transform: uppercase;
  transition: var(--common-transition);

  &.isExpanded {
    color: var(--color-accent);
  }

  @media (min-width: breakpoints.$desktop) {
    cursor: pointer;

    &:hover,
    &:hover > .arrowIcon {
      color: var(--color-accent);
    }
  }
}

.plusMinusIcon {
  display: none;
  margin-right: 20px;

  @media (min-width: breakpoints.$mobile) { display: inline-block; }
}
