@use "../../../shared/breakpoints.scss" as breakpoints;

.root {
  position: relative;
  z-index: 1;
  margin-bottom: 40vh;

  @media (max-height: breakpoints.$mobile) {
    margin-bottom: 60vh;
  }
}
