@use "../../../shared/breakpoints.scss" as breakpoints;

.root {
  flex-grow: 1;
  padding-bottom: 90px;
  background-color: var(--color-light-default);

  @media (min-width: breakpoints.$mid-desktop) { padding-bottom: 110px; }

  @media (min-width: 2560px) { padding-bottom: 130px; }
}
