@use "../../../shared/breakpoints.scss" as breakpoints;

.root {
  position: fixed;
  z-index: 3;
  right: 10px;
  bottom: 10px;

  @media (min-width: breakpoints.$tablet) {
    right: 15px;
    bottom: 15px;
  }

  @media (min-width: 2560px) {
    right: 40px;
    bottom: 40px;
  }
}
