@use "../../../shared/styles/mixins/headline.scss" as headline;

.root {
  @include headline.headline;
  @include headline.headline-small;

  position: relative;
  padding: 20px 50px;
  border: solid 4px var(--color-accent);
  background: transparent;
  color: var(--color-accent);
  cursor: pointer;
  outline: none;
  text-transform: uppercase;

  &::before,
  &::after {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 10px;
    background: var(--color-light-default);
    content: "";
    transition: all .6s;
  }

  &::after {
    transform: translate(5px, 36px) skewX(50deg);
  }

  &::before {
    transform: translate(-20px, -27px) skewX(50deg);
  }

  &:hover::before {
    transform: translate(100px, -27px) skewX(50deg);
  }

  &:hover::after {
    transform: translate(-115px, 36px) skewX(50deg);
  }
}

.link {
  color: var(--color-accent);
  text-decoration: none;
}
