@use "../../../shared/styles/mixins/text.scss" as text;

.root {
  @include text.text;
  @include text.text-button;

  position: relative;
  padding: 30px 50px;
  border: solid 4px var(--color-accent);
  background: transparent;
  color: var(--color-accent);
  cursor: pointer;
  outline: none;

  &::before,
  &::after {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 10px;
    background: var(--color-light-default);
    content: "";
    transition: all .6s;
  }

  &::before { transform: translate(10px, -38px) skewX(50deg); }

  &::after { transform: translate(-25px, 56px) skewX(50deg); }

  &:hover::before { transform: translate(160px, -38px) skewX(50deg); }

  &:hover::after { transform: translate(-175px, 56px) skewX(50deg); }
}

.link {
  color: var(--color-accent);
  text-decoration: none;
}
