@use "../../../shared/styles/mixins/text.scss" as text;

.root {
  @include text.text;
  @include text.text-button;

  width: 100%;
  padding: 12px 20px;
  border: none;
  background-color: var(--color-accent);
  border-radius: 3px;
  color: var(--color-light-default);
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}

.root:disabled {
  background-color: var(--color-dark-primary-33);
  cursor: not-allowed;
}

.link {
  text-decoration: none;
}
