@use "../../../shared/breakpoints.scss" as breakpoints;

.root {
  width: 100%;
  padding-bottom: 30px;
  background-color: var(--color-light-default);

  @media (max-width: breakpoints.$tablet-portrait) {
    padding-bottom: 40px;
  }
}
