@use "../../../shared/breakpoints.scss" as breakpoints;

.root {
  padding-bottom: 80px;

  @media (min-width: breakpoints.$tablet-portrait) { padding-bottom: 100px; }

  @media (min-width: breakpoints.$large-desktop) { padding-bottom: 120px; }

  &:last-child { padding-bottom: 0; }
}
