@use "../../../shared/breakpoints.scss" as breakpoints;

.root {
  padding-bottom: 50px;

  @media (min-width: breakpoints.$tablet-portrait) { padding-bottom: 73px; }

  @media (min-width: breakpoints.$desktop) { padding-bottom: 80px; }

  &:last-child { padding-bottom: 0; }
}
