.root {
  position: relative;
  z-index: 1;
  top: var(--page-padding);
  margin-bottom: 600px;

  @media (max-width: $desktop) {
    margin-bottom: 450px;
  }

  @media (max-width: $mobile) {
    top: 0;
    margin-bottom: 0;
  }
}
