@use "../../shared/breakpoints.scss" as breakpoints;
@use "../../shared/styles/mixins/text.scss" as text;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  height: calc(40vh - 50px - 21px);
  align-items: center;
  justify-content: center;
}

.text {
  @include text.text;
  @include text.text-small;

  margin: auto 0 0;
  color: var(--color-dark-primary);
  letter-spacing: 3px;
}
