@use "../../../shared/styles/mixins/text.scss" as text;
@use "../../../shared/styles/mixins/link-underline.scss" as link;
@use "../../../shared/styles/mixins/animations.scss" as animations;

.link {
  @include text.text;
  @include text.text-small;

  position: relative;
  color: inherit;
  outline: none;
  text-decoration: none;
}

.underline {
  &:hover::after,
  &:focus-visible::after {
    @include link.link-underline;
    @include animations.link-underline;

    background-color: var(--color-dark-primary-55);
    transform-origin: 0;
  }
}
