@use "../../../shared/breakpoints.scss" as breakpoints;
@use "../../../shared/styles/mixins/text.scss" as text;
@use "../../../shared/styles/mixins/link-underline.scss" as link;
@use "../../../shared/styles/mixins/animations.scss" as animations;

.link {
  @include text.text;
  @include text.text-medium;

  position: relative;
  color: inherit;
  letter-spacing: 3px;
  outline: none;
  text-decoration: none;

  @media (max-width: breakpoints.$mid-desktop) {
    font-weight: 300;
  }
}

.underline {
  &:hover::after,
  &:focus-visible::after {
    @include link.link-underline;
    @include animations.link-underline;

    background-color: var(--color-dark-primary-33);
    transform-origin: 0;
  }
}
