@use "../../../shared/breakpoints.scss" as breakpoints;
@use "../../../shared/styles/mixins/text.scss" as text;

.root {
  @include text.text;
  @include text.text-medium;

  position: relative;
  color: inherit;
  letter-spacing: 3px;
  outline: none;
  text-decoration: none;
  transition: var(--common-transition);

  @media (max-width: breakpoints.$tablet-landscape) { font-weight: 300; }

  @media (min-width: breakpoints.$desktop) {
    &:hover { opacity: .7; }
  }
}
