.root {
  display: grid;
  min-width: var(--min-content-width);
}

.bottomPlaceholder {
  position: sticky;
  z-index: 1;
  bottom: 0;
  height: var(--page-padding);
  background-color: var(--color-bg-default);
}
