@use "../../shared/breakpoints.scss" as breakpoints;
@use "../../shared/styles/mixins/headline.scss" as headline;

.root {
  padding: 130px 0;

  @media (max-width: breakpoints.$desktop) { padding: 110px 90px 100px; }

  @media (max-width: breakpoints.$mid-desktop) { padding: 90px; }

  @media (max-width: breakpoints.$mobile) { padding: 90px 20px; }
}

.title {
  @include headline.headline;

  margin-bottom: 80px;
  color: var(--color-dark-primary-33);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: breakpoints.$mobile) { margin-bottom: 60px; }
}
