.title {
  @mixin headline;
  @mixin headline1;

  max-width: min-content;

  /* title-accent font-size + it's bottom margin */
  margin-bottom: calc(.2em + 20px);
  text-transform: uppercase;

  @media (max-width: $tablet) {
    margin-bottom: calc(.3em + 15px);
  }
}

.title-accent {
  @mixin headline-accent;

  display: block;
  margin: 0 0 15px 20px;
  text-transform: lowercase;

  @media (max-width: $tablet) {
    margin: 0 0 15px;
  }
}

.dot {
  position: relative;
  display: inline-block;
  vertical-align: bottom;

  &::before {
    @mixin dot;
    @mixin jumping-dot-animation;
  }
}
