@use "../../../shared/breakpoints.scss" as breakpoints;

.root {
  display: flex;
  width: 33.33%;
  padding: 0 15px;

  @media (max-width: breakpoints.$mid-desktop) { width: 50%; }

  @media (max-width: breakpoints.$mobile) { width: 100%; }
}
