@use "../../shared/breakpoints.scss" as breakpoints;

.container {
  padding: 0 0 70px;

  @media (min-width: breakpoints.$mobile) { padding: 70px 0; }

  @media (min-width: breakpoints.$tablet) { padding: 90px 0; }

  @media (min-width: breakpoints.$mid-desktop) { padding: 130px 0; }
}

.root {
  max-width: calc(100% - 32px);
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @media (min-width: breakpoints.$tablet) { max-width: calc(100% - 96px); }

  @media (min-width: breakpoints.$mid-desktop) { max-width: 800px; }
}
