@use "../../shared/breakpoints.scss" as breakpoints;
@use "../../shared/styles/mixins/headline.scss" as headline;
@use "../../shared/styles/mixins/text.scss" as text;
@use "../../shared/styles/mixins/text-link-underline.scss" as text-link-underline;

.link {
  position: relative;
  width: 100%;
  color: var(--color-dark-primary);
}

.imageWrapper {
  position: relative;
  display: block;
  padding-top: 100%;

  @media (min-width: breakpoints.$tablet-portrait) { padding-top: 66.67%; }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading {
  @include headline.headline;
  @include headline.headline-small;

  margin: 5px 16px 0;
  color: inherit;
  font-size: 18px !important;

  &::after { background-color: var(--color-dark-primary-55); }

  @media (min-width: breakpoints.$mobile) { margin: 5px 48px 0; }

  @media (min-width: breakpoints.$tablet-portrait) { margin: 5px 0 0; }
}

.date {
  @include text.text;
  @include text.text-small;

  margin: 15px 16px 0;
  color: inherit;

  @media (min-width: breakpoints.$mobile) { margin: 15px 48px 0; }

  @media (min-width: breakpoints.$tablet-portrait) { margin: 15px 0 0; }
}
